{%extends 'base.html'%}
{% block title%}new paaword{%endblock%}

{% block breadcrumb%}

         <li class="bradcrumb-item active">new password</li>

{%endblock%}
{%block content%}
<form method="post"  novalidate>
    {% csrf_token %}
    <!--
    <div class="form-group">
      <label for="id_subject">Subject</label>
      <input type="text" class="form-control" id="id_subject" name="subject">
    </div>
    <div class="form-group">
      <label for="id_message">Message</label>
      <textarea class="form-control" id="id_message" name="message" rows="5"></textarea>
    </div>-->
    {%include 'include/formul.html'%}
    <button type="submit" class="btn btn-success">new password</button>
  </form>
{%endblock%}
 