{%extends 'base.html'%}
{%block body%}
<style>
.a15{
background-color:rgb(0, 0, 0);

}

</style>
<body class="a15">
    <div class="contaoner">
        <h1>signup</h1>
        <form method="post" novalidate>
        {%csrf_token%}
        {%include 'include/formul.html'%}
        <button type="submit" class="btn btn-primary">creat New user</button> 
        </form>
        <div class="card-footer text-muted text-center">
            you have a account <a href="{%url 'login'%}">login </a>
          </div>
        </div>
</body>

{%endblock%}
