{%extends 'base.html'%}
{% block title%}{{board.name}}{%endblock%}

{% block breadcrumb%}

         <li class="bradcrumb-item"><a href="{% url 'indrex' %}">Board </a> /</li>
         <li class="bradcrumb-item active">{{board.name}}</li>
{%endblock%}
{%block content%}
<a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
<table class="table">
    <thead class="thead-dark">
   <tr>
       <th>Topic</th>
       <th>Created</th>
       <th>Posts</th>
       <th>Views</th>
       <th>Created dt</th>
   </tr> 
   </thead>
    <tbody>
        {%for topic in board.topics.all%}
        <tr> 
            <td><a href ="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject}}</a></td>
            <td>{{topic.created_by}}</td>
            <td>0</td>
            <td>0</td>
            <td>{{topic.created_dt}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}